* {
  box-sizing: border-box;
}

:root {
  --main-color: #a0aecd;
  --section-padding: 80px 0;
}
html {
  scroll-behavior: smooth;
}
/* scroll bar width */
::-webkit-scrollbar {
  width: 10px;
}

/* scroll bar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* scroll bar Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  opacity: 0.5;
}
body {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.container {
  margin: auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
.active {
  color: var(--main-color);
}

/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url("../images/slide01.jpg");
  background-size: cover;
  color: white;
  transition: all 2s;
}
.landing-page .overlay {
  background-color: #0000004b;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.landing-page .container-h {
  position: fixed;
  z-index: 155;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
header::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  bottom: 0;
  height: 1px;
  width: calc(100%);
}
header .menu-toggle {
  display: none;
}
/* header .links-container {
  width: 100%;
} */
header ul {
  display: flex;
}
header .logo {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
header ul li {
  list-style: none;
  margin-left: 20px;
  display: block;
}
header ul li a {
  text-decoration: none;
  color: white;
}
header ul li a:hover {
  color: var(--main-color);
  transition: 0.5s;
}

.landing-page .intro {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
}
.landing-page .intro h1 {
  font-size: 45px;
}
.landing-page .intro span {
  color: var(--main-color);
}

@media (max-width: 768px) {
  header {
    padding: 10px 0;
  }
  header .links-container .menu {
    display: none;
  }
  header .links-container ul.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    top: 40px;
    right: 0;
    padding: 10px;
  }
  header .links-container ul li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
  header .links-container ul li:hover {
    border-bottom: 1px solid var(--main-color);
  }
  header .links-container ul a {
    color: var(--main-color);
  }
  header .logo {
    font-size: 16px;
  }
  header .menu-toggle {
    display: block;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
  }
  header .menu-toggle.open::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    right: 4px;
    top: 36px;
  }
  header .menu-toggle:hover {
    color: var(--main-color);
  }
  .landing-page {
    background-image: url("../images/slide01-mobile.jpg");
  }
  .landing-page .intro {
    text-align: center;
    width: 80%;
  }
  .landing-page .intro h1 {
    font-size: 30px;
  }
}

/* End Landing Page */

/* Start Setting Box */

.settings-box {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  top: 0;
  left: -250px;
  transition: 1s;
}
.settings-box .gear-box {
  font-size: 20px;
  padding: 5px;
  position: fixed;
  color: var(--main-color);
  top: 30%;
  left: 0;
  transform: translateY(-50%);
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 1s;
  z-index: 101;
}
.settings-box .option-box {
  padding: 10px;
  margin: 10px;
  background-color: #eee;
  text-align: center;
}
.settings-box .option-box h4 {
  margin: 0;
  color: #666;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.settings-box .option-box .colors-list li {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  transition: 0.5s;
}
.settings-box .option-box .colors-list .active {
  opacity: 1;
  border: 3px solid #fff;
  width: 25px;
  height: 25px;
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #a0aecd;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #74f0ed;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #5ac3b0;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #f7cd46;
}
.settings-box .option-box .colors-list li:last-child {
  background-color: #03a9f4;
}
.settings-box .option-box button {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  width: 70px;
  padding: 3px;
  font-size: 14px;
  background-color: #3333336f;
  color: white;
  opacity: 0.5;
  background-color: var(--main-color);
  cursor: pointer;
  transition: 0.5s;
}
.settings-box .option-box button.active {
  opacity: 1;
  background-color: var(--main-color);
}

.settings-box .reset-options {
  border: none;
  width: 230px;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  background-color: rgb(148, 27, 27);
  padding: 10px;
  cursor: pointer;
}
.settings-box .reset-options:hover {
  background-color: rgb(220, 0, 0);
}
/* End Setting Box */

/* Start Nav bullets */
.nav-bullets {
  padding: 10px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  z-index: 5;
}
.nav-bullets .bullet {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px 0;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}

.nav-bullets .bullet::before {
  display: none;
  position: absolute;
  content: attr(data-section);
  background-color: var(--main-color);
  color: white;
  width: 100px;
  left: -115px;
  padding: 3px 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.nav-bullets .bullet::after {
  display: none;
  position: absolute;
  content: "";
  color: white;
  border: 10px solid var(--main-color);
  border-color: transparent transparent transparent var(--main-color);
  left: -13px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.nav-bullets .bullet:hover::after,
.nav-bullets .bullet:hover::before {
  display: block;
}
/* End Nav bullets */

/*  Start About Us  */
.about-us {
  padding: var(--section-padding);
  display: flex;
  flex-wrap: wrap;
}
.about-us .info-box {
  flex: 1;
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .img-box {
  flex: 1;
  text-align: center;
}
.about-us .img-box img {
  width: 300px;
}

@media (max-width: 768px) {
  .about-us {
    text-align: center;
  }
  .about-us .img-box {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .about-us {
    text-align: center;
    flex-direction: column;
  }
  .about-us .img-box {
    margin-top: 30px;
  }
}

/*  End About Us  */
/* start Our Skills  */
.skills {
  padding: var(--section-padding);
  background-color: #eee;
  display: flex;
}
.skills .container {
  width: 100%;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 20px;
}
.skills .skill-box .skill-progress {
  height: 20px;
  width: calc(100% - 110px);
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  left: 0;
  top: 0;
  height: 100%;
  transition: all 3s;
}
@media (max-width: 768px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 10px;
  }
  .skills .skill-box {
    flex-direction: column;
  }
  .skills .skill-box .skill-progress {
    width: 100%;
  }
}
/* End Our Skills  */

/* Start Gallery */
.gallery {
  padding: var(--section-padding);
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 3px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  z-index: 1001;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
.popup-box img {
  max-width: 100%;
}
.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;
  font-family: Arial, Tahoma;
}
@media (max-width: 768px) {
  .popup-box {
    width: 80%;
  }
}
/* End Gallery */

/* Start Timeline */
.timeline {
  padding: var(--section-padding);
  background-color: #eee;
  display: flex;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.timeline .timeline-content .right,
.timeline .timeline-content .left {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -35px;
}

.timeline .timeline-content h3 {
  color: var(--main-color);
  font-weight: 0;
  margin: 0 0 10px;
}
.timeline .timeline-content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: 20px;
}
.timeline .timeline-content .left .content::before {
  border-color: transparent transparent transparent #fff;
  right: -20px;
}
.timeline .timeline-content .right .content::before {
  border-color: transparent #fff transparent transparent;
  left: -20px;
}

@media (max-width: 768px) {
  .timeline .timeline-content .right,
  .timeline .timeline-content .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left .content::before,
  .timeline .timeline-content .right .content::before {
    display: none;
  }
  .timeline .timeline-content .left .content::after,
  .timeline .timeline-content .right .content::after {
    display: none;
  }
}
/* end Timeline */

/* Start Feautures */

.features {
  padding: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 50px;
  grid-column-gap: 40px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.features .feat-box {
  text-align: center;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 80px;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}
.features .feat-box p {
  line-height: 1.6;
  color: #4f4c4c;
  width: 90%;
  margin: 0 auto;
}
.features .feat-box img {
  width: 150px;
}
/* End Feautures */

/* Start testimonials */
.testimonials {
  padding: var(--section-padding);
  margin-top: 30px;
  background: linear-gradient(90deg, var(--main-color) 50%, #333 50%);
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 50px;
  /* text-align: center; */
}
.testimonials .ts-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 20px;
}
.testimonials .ts-content .ts-box {
  background-color: #ccc;
  padding: 20px;
}
.testimonials .ts-content .ts-box > p {
  margin: 0 0 10px;
  font-size: 15px;
  line-height: 1.6;
  color: #707070;
  font-style: italic;
}
.testimonials .ts-content .ts-box .person-info {
  overflow: hidden;
}
.testimonials .ts-content .ts-box .person-info img {
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}
.testimonials .ts-content .ts-box .person-info h4 {
  margin: 19px 0 5px 0;
}

.testimonials .ts-content .ts-box .person-info p {
  color: #707070;
  margin: 0;
}

/* End testimonials */

/* Start Contact us */
.contact {
  background-image: url(../images/contact.png);
  padding: var(--section-padding);
  background-size: cover;
  position: relative;
}
.contact .overlay {
  background-color: rgb(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgb(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .contact form .left {
    float: none;
    width: 100%;
  }
  .contact form .right {
    float: none;
    width: 100%;
  }
}

/* End Contact us */

footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
}
